.carousel-container {
    width: 80%; /* Tamaño fijo del carrusel */
    height: 500px; /* Tamaño fijo del carrusel */
    overflow: hidden; /* Para ocultar el desbordamiento */
     text-align: center;
  }

.carousel-inner {
    width: 100%;
    height: 100%;
    }

.carousel-item {
    width: 100%;
    height: 100%;
    text-align: center; /* Para centrar la imagen horizontalmente */
    }

.carousel-item img {
    max-width: 100%; /* La imagen se ajustará al ancho del carrusel */
    max-height: 100%; /* La imagen se ajustará al alto del carrusel */
    margin: auto; /* Centrar verticalmente */
    }


.marginsss{
    margin:auto;
}


.navbar-nav .nav-item{
    margin-right: 30px !important;
}

.nav-item{
    color: black !important;
}


.nav-item :hover{
    color:gray !important;

}

/* Fuente Natbar */
.asap-condensed-regular-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.asap-condensed-medium-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
  }
  
.redondearboton {
    border-radius: 30px; /* Puedes ajustar el valor según el radio de redondeo que desees */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  }

.centrartexto{
    text-align: center !important;
  }

.contenedor_offcanva_usuario{
    font-family: "Asap Condensed";
    display: inline-block;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center !important;
    
  }

.letrachida{
    font-family: "Asap Condensed";
    color:aliceblue;
    text-decoration: none; /*pa quitar el subrayado*/
  }

.letrachidacarrito{
    font-family: "Asap Condensed";
    font-size: 30px;
  }
  
.alejarlaimagen{
    margin: 20px;
  }

.agrandarunpoco{ /*para agrandar un poco los span que contienen la cantidad de cosas que va a llevar x producto */
    font-size: 25px;
  }

  .letrachida2{
    font-family: "Asap Condensed";
    color:white;
    text-decoration: none; /*pa quitar el subrayado*/
    font-size:xx-large;
}

.colorh2{
  font-family: "Asap Condensed";
  color: black;
}

.separacion{
  padding-left: 100px;
  padding-right: 100px;

}

.almedio{
  padding-left: 500px;
}

.modo-noc{
  background-color: #121212 !important;
  color: #ffffff !important;
}

.modo-noc .colorh2{
  background-color: #121212 !important;
  color: #ffffff !important;
}

.navbar-modo-noc {
  background-color: #333333 !important;
  color:  rgb(255, 173, 51) !important;
}

.navbar-modo-noc .navbar-brand,
.navbar-modo-noc .nav-link,
.navbar-modo-noc .dropdown-item {
  color:  rgb(255, 173, 51) !important;;
}

.navbar-modo-noc .navbar-toggler-icon {
  filter: invert(1);
}

.botonnoche {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #343a40;
  color: #fff;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s;
}

.botonnoche:hover {
  background-color: #495057;
}


.modo-noc .carousel-item {
  background-color: #333; /* Cambia el color de fondo de los elementos del carrusel */
}

.modo-noc .carousel-control-prev-icon,
.modo-noc .carousel-control-next-icon {
  filter: invert(1); /* Invierte el color de las flechas de control */
}

.modo-noc .modal-content{
  background-color: #333333;
    color: #ffffff;
}

.zoom {
  transition: transform 0.3s ease; /* Suaviza la transición */
}